In [2]:
import json

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import basedosdados as bd
from ipywidgets import interact

from Utils.data_utils import *

In [5]:
MUN_IDS = get_mun_ids()
print(MUN_IDS.loc[3303302]) # Niterói

municipio                               Niterói
microrregiao                     Rio de Janeiro
mesorregiao     Metropolitana do Rio de Janeiro
sigla_uf                                     RJ
uf                               Rio de Janeiro
regiao                                  Sudeste
Name: 3303302, dtype: object

In [6]:
atlas = get_data("mundo_onu_adh.municipios")
atlas.head(1)

,id_municipio,ano,expectativa_vida,fecundidade_total,mortalidade_1,mortalidade_5,razao_dependencia,prob_sobrevivencia_40,prob_sobrevivencia_60,taxa_envelhecimento,...,pia,pia_10_14,pia_15_17,pia_18_mais,indice_escolaridade,indice_frequencia_escolar,idhm,idhm_e,idhm_l,idhm_r
0,1100015,1991,62.01,4.08,45.58,58.05,73.5,83.81,66.87,1.82,...,NaN,NaN,NaN,NaN,0.117,0.109,0.329,0.112,0.617,0.516

In [5]:
ideb = get_data("br_inep_ideb.municipio")
ideb["ano"].unique()

array([2005, 2007, 2009, 2011, 2013, 2015, 2017, 2019, 2021], dtype=int64)

In [8]:
populacao = get_data("br_ibge_populacao.municipios")
populacao.head(1)

   id_municipio   ano  populacao
0       1100015  1991    31981.0

In [9]:
CAUSAS_ID = get_br_ms_sim_ids()
print(CAUSAS_ID.loc["I219"]) # Infarto

descricao    Infarto agudo do miocárdio não especificado
Name: I219, dtype: object

In [10]:
obitos_mun = get_data("br_ms_sim.municipio_causa_idade_genero_raca")
obitos_mun.head(1)

,ano,estado_abrev,id_municipio,causa_basica,idade,genero,raca_cor,numero_obitos
0,2009,SC,4216107,I110,71.0,masculino,branca,1

In [11]:
esgoto = get_data("br_ana_atlas_esgotos.municipios")
esgoto.head(1)

,id_municipio,sigla_uf,populacao_urbana_2013,populacao_urbana_2035,prestador_servico_esgoto,sigla_prestador,indice_sem_atend,indice_atend_solucao_ind,indice_atend_col_sem_trat,indice_atend_col_trat,...,carga_afluente_solucao_ind_2035,carga_efluente_solucao_ind_2035,populacao_atendida_2035,investimento_col,investimento_trat,investimento_col_trat,necessidade_remocao_dbo,tipologia_solucao,atencao_fosforo,atencao_nitrogenio
0,1100015,RO,14735,15507,Serviço Autônomo de Água e Esgoto,SAAE,96.7,1.9,1.4,0.0,...,83.7,33.5,13956,16866794.48,4298529.94,21165324.42,Acima de 80%,Tratamento secundário avançado,Não,Não

In [12]:
# auxilio = get_data("br_mc_auxilio_emergencial.microdados.corte", query="SELECT sigla_uf, id_municipio FROM `basedosdados.br_mc_auxilio_emergencial.microdados`")
# auxilio.head(1)

In [13]:
atlas.set_index("id_municipio").loc[3303302]

,ano,expectativa_vida,fecundidade_total,mortalidade_1,mortalidade_5,razao_dependencia,prob_sobrevivencia_40,prob_sobrevivencia_60,taxa_envelhecimento,expectativa_anos_estudo,...,pia,pia_10_14,pia_15_17,pia_18_mais,indice_escolaridade,indice_frequencia_escolar,idhm,idhm_e,idhm_l,idhm_r
id_municipio,,,,,,,,,,,,,,,,,,,,,
3303302,1991,68.03,1.76,25.81,29.55,47.26,90.70,76.38,7.58,9.55,...,NaN,NaN,NaN,NaN,0.639,0.520,0.681,0.557,0.717,0.790
3303302,2000,72.26,1.61,14.04,15.92,43.73,91.60,82.09,9.83,9.86,...,397571.0,32722.0,22165.0,342684.0,0.701,0.676,0.771,0.684,0.788,0.851
3303302,2010,76.23,1.41,12.91,14.52,40.54,93.43,84.14,12.17,9.68,...,437702.0,31430.0,19447.0,386825.0,0.794,0.762,0.837,0.773,0.854,0.887