In [15]:
!pip install basedosdados

import basedosdados as bd
import pandas as pd
import json

Requirement already satisfied: basedosdados in /usr/local/lib/python3.7/dist-packages (1.4.5)
Requirement already satisfied: tomlkit==0.7.0 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (0.7.0)
Requirement already satisfied: google-cloud-storage==1.31.2 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (1.31.2)
Requirement already satisfied: pandas-gbq==0.13.2 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (0.13.2)
Requirement already satisfied: tqdm==4.50.2 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (4.50.2)
Requirement already satisfied: google-cloud-bigquery-storage==1.1.0 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (1.1.0)
Requirement already satisfied: click==7.1.2 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (7.1.2)
Requirement already satisfied: pyaml==20.4.0 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (20.4.0)
Requirement already satisfied: google-cloud-bigquery==1.28.0 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (1.28.0)
Requirement already satisfied: Jinja2==2.11.2 in /usr/local/lib/python3.7/dist-packages (from basedosdados) (2.11.2)
Requirement already satisfied: google-resumable-media<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage==1.31.2->basedosdados) (1.2.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage==1.31.2->basedosdados) (2.23.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage==1.31.2->basedosdados) (1.6.0)
Requirement already satisfied: google-auth<2.0dev,>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage==1.31.2->basedosdados) (1.27.0)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-gbq==0.13.2->basedosdados) (1.1.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pandas-gbq==0.13.2->basedosdados) (54.0.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from pandas-gbq==0.13.2->basedosdados) (0.4.2)
Requirement already satisfied: pydata-google-auth in /usr/local/lib/python3.7/dist-packages (from pandas-gbq==0.13.2->basedosdados) (1.1.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery-storage==1.1.0->basedosdados) (1.26.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml==20.4.0->basedosdados) (3.13)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery==1.28.0->basedosdados) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2==2.11.2->basedosdados) (1.1.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in /usr/local/lib/python3.7/dist-packages (from google-resumable-media<2.0dev,>=1.0.0->google-cloud-storage==1.31.2->basedosdados) (1.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage==1.31.2->basedosdados) (2020.12.5)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (4.2.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (0.2.8)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas-gbq==0.13.2->basedosdados) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas-gbq==0.13.2->basedosdados) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas-gbq==0.13.2->basedosdados) (1.19.5)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->pandas-gbq==0.13.2->basedosdados) (1.3.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-bigquery-storage==1.1.0->basedosdados) (1.52.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-bigquery-storage==1.1.0->basedosdados) (3.12.4)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-bigquery-storage==1.1.0->basedosdados) (20.9)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-bigquery-storage==1.1.0->basedosdados) (1.32.0)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=1.0.0->google-cloud-storage==1.31.2->basedosdados) (1.14.5)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2.0dev,>=1.11.0->google-cloud-storage==1.31.2->basedosdados) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas-gbq==0.13.2->basedosdados) (3.1.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-bigquery-storage==1.1.0->basedosdados) (2.4.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=1.0.0->google-cloud-storage==1.31.2->basedosdados) (2.20)

In [16]:
bd.list_datasets()

dataset_id:
	br_abrinq_oca
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ana_atlas_esgotos
-----------------------------------------------------------------------------------------------
dataset_id:
	br_anvisa_medicamentos_industrializados
-----------------------------------------------------------------------------------------------
dataset_id:
	br_bd_diretorios_brasil
-----------------------------------------------------------------------------------------------
dataset_id:
	br_camara_atividade_legislativa
-----------------------------------------------------------------------------------------------
dataset_id:
	br_camara_dados_abertos
-----------------------------------------------------------------------------------------------
dataset_id:
	br_cgu_servidores_executivo_federal
-----------------------------------------------------------------------------------------------
dataset_id:
	br_geobr_mapas
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_amc
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_censo_demografico
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_nomes_brasil
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_pib
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_pnad_covid
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_populacao
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ibge_ppm
-----------------------------------------------------------------------------------------------
dataset_id:
	br_imprensa_nacional_dou
-----------------------------------------------------------------------------------------------
dataset_id:
	br_inep_ideb
-----------------------------------------------------------------------------------------------
dataset_id:
	br_inep_indicadores_educacionais
-----------------------------------------------------------------------------------------------
dataset_id:
	br_inep_sinopse_estatistica_educacao_basica
-----------------------------------------------------------------------------------------------
dataset_id:
	br_inpe_prodes
-----------------------------------------------------------------------------------------------
dataset_id:
	br_mapbiomas_estatisticas
-----------------------------------------------------------------------------------------------
dataset_id:
	br_mc_auxilio_emergencial
-----------------------------------------------------------------------------------------------
dataset_id:
	br_mc_indicadores
-----------------------------------------------------------------------------------------------
dataset_id:
	br_me_caged
-----------------------------------------------------------------------------------------------
dataset_id:
	br_me_rais
-----------------------------------------------------------------------------------------------
dataset_id:
	br_me_socios
-----------------------------------------------------------------------------------------------
dataset_id:
	br_mobilidados_indicadores
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ms_sim
-----------------------------------------------------------------------------------------------
dataset_id:
	br_observatorio_crianca_indicadores
-----------------------------------------------------------------------------------------------
dataset_id:
	br_ponte_indicadores
-----------------------------------------------------------------------------------------------
dataset_id:
	br_sp_alesp
-----------------------------------------------------------------------------------------------
dataset_id:
	br_sp_gov_orcamento
-----------------------------------------------------------------------------------------------
dataset_id:
	br_sp_gov_ssp
-----------------------------------------------------------------------------------------------
dataset_id:
	br_sp_seduc
-----------------------------------------------------------------------------------------------
dataset_id:
	br_tesouro_finbra
-----------------------------------------------------------------------------------------------
dataset_id:
	br_tse_eleicoes
-----------------------------------------------------------------------------------------------
dataset_id:
	br_tse_filiacao_partidaria
-----------------------------------------------------------------------------------------------
dataset_id:
	mundo_onu_adh
-----------------------------------------------------------------------------------------------

In [17]:
idh_municipios = bd.read_table(dataset_id='mundo_onu_adh', 
                                       table_id='municipios', 
                                       billing_project_id='steam-snowfall-306819')

Downloading: 100%|██████████| 16695/16695 [00:02<00:00, 5917.11rows/s]

In [18]:
idh_municipios

       id_municipio   ano  expectativa_vida  ...  idhm_e  idhm_l  idhm_r
0           1100015  1991             62.01  ...   0.112   0.617   0.516
1           1100023  1991             66.02  ...   0.199   0.684   0.593
2           1100031  1991             63.16  ...   0.108   0.636   0.430
3           1100049  1991             65.03  ...   0.171   0.667   0.593
4           1100056  1991             62.73  ...   0.167   0.629   0.547
...             ...   ...               ...  ...     ...     ...     ...
16690       5222005  2010             74.10  ...   0.622   0.818   0.710
16691       5222054  2010             73.25  ...   0.562   0.804   0.707
16692       5222203  2010             74.07  ...   0.534   0.818   0.619
16693       5222302  2010             73.09  ...   0.505   0.802   0.629
16694       5300108  2010             77.35  ...   0.742   0.873   0.863

[16695 rows x 230 columns]

In [20]:
query_idh_municipios = "SELECT DISTINCT id_municipio, ano, idhm, idhm_e, idhm_l, idhm_r  FROM `basedosdados.mundo_onu_adh.municipios`;"

df_idh_municipios = bd.read_sql(query=query_idh_municipios, billing_project_id='steam-snowfall-306819')

Downloading: 100%|██████████| 16695/16695 [00:01<00:00, 12146.19rows/s]

In [21]:
df_idh_municipios

       id_municipio   ano   idhm  idhm_e  idhm_l  idhm_r
0           1100015  1991  0.329   0.112   0.617   0.516
1           1100023  1991  0.432   0.199   0.684   0.593
2           1100031  1991  0.309   0.108   0.636   0.430
3           1100049  1991  0.407   0.171   0.667   0.593
4           1100056  1991  0.386   0.167   0.629   0.547
...             ...   ...    ...     ...     ...     ...
16690       5222005  2010  0.712   0.622   0.818   0.710
16691       5222054  2010  0.684   0.562   0.804   0.707
16692       5222203  2010  0.647   0.534   0.818   0.619
16693       5222302  2010  0.634   0.505   0.802   0.629
16694       5300108  2010  0.824   0.742   0.873   0.863

[16695 rows x 6 columns]

In [29]:
df_idh_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  16695 non-null  int64
 1   ano           16695 non-null  int64
 2   idhm          16695 non-null  float64
 3   idhm_e        16695 non-null  float64
 4   idhm_l        16695 non-null  float64
 5   idhm_r        16695 non-null  float64
dtypes: float64(4), int64(2)
memory usage: 782.7 KB

In [33]:
df_idh_municipios.iloc[0]["id_municipio"] == 1100015

True

In [24]:
with open("./imports/id_municipios.json", mode="r") as f:
  ID_MUN = json.load(f)

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [23]:
ID_MUN["1100015"]

NameError: ignored

# Testes

In [ ]:
despesas_orcamentarias = bd.read_table(dataset_id='br_tesouro_finbra', 
                                       table_id='despesas_orcamentarias', 
                                       billing_project_id='steam-snowfall-306819')

Downloading:  36%|███████████████████▌                                  | 2084765/5763724 [02:31<04:02, 15167.90rows/s]
Downloading:   2%|▊                                                       | 87843/5763724 [00:05<06:10, 15318.84rows/s]
Downloading:   3%|█▌                                                     | 170231/5763724 [00:11<06:15, 14915.48rows/s]
Downloading:   4%|██▎                                                    | 248059/5763724 [00:16<06:01, 15276.02rows/s]
Downloading:   6%|███▏                                                   | 329090/5763724 [00:21<05:58, 15176.05rows/s]
Downloading:   7%|████                                                   | 427090/5763724 [00:27<05:43, 15554.18rows/s]
Downloading:   9%|█████                                                  | 536714/5763724 [00:35<05:39, 15391.21rows/s]
Downloading:  11%|██████▏                                                | 644869/5763724 [00:41<05:30, 15476.92rows/s]
Downloading:  13%|███████▏                                               | 753528/5763724 [00:48<05:14, 15924.49rows/s]
Downloading:  15%|████████▏                                              | 857618/5763724 [00:55<05:10, 15802.10rows/s]
Downloading:  17%|█████████▏                                             | 959428/5763724 [01:01<05:06, 15670.82rows/s]
Downloading:  18%|█████████▉                                            | 1062912/5763724 [01:09<05:18, 14780.16rows/s]
Downloading:  20%|██████████▉                                           | 1164257/5763724 [01:16<05:06, 15030.89rows/s]
Downloading:  22%|███████████▊                                          | 1265997/5763724 [01:22<04:55, 15204.27rows/s]
Downloading:  24%|████████████▊                                         | 1367712/5763724 [01:29<04:55, 14863.60rows/s]
Downloading:  26%|█████████████▊                                        | 1470462/5763724 [01:35<04:38, 15399.11rows/s]
Downloading:  27%|██████████████▋                                       | 1572313/5763724 [01:43<04:39, 14987.25rows/s]
Downloading:  29%|███████████████▋                                      | 1674376/5763724 [01:49<04:33, 14961.52rows/s]
Downloading:  31%|████████████████▋                                     | 1776762/5763724 [01:56<04:24, 15067.43rows/s]
Downloading:  33%|█████████████████▌                                    | 1878227/5763724 [02:03<04:20, 14916.03rows/s]
Downloading:  34%|██████████████████▌                                   | 1980767/5763724 [02:09<04:05, 15383.94rows/s]
Downloading:  36%|███████████████████▌                                  | 2084765/5763724 [02:17<04:08, 14808.51rows/s]
Downloading:  38%|████████████████████▌                                 | 2189229/5763724 [02:24<03:58, 14959.60rows/s]
Downloading:  40%|█████████████████████▍                                | 2289755/5763724 [02:31<03:56, 14695.87rows/s]
Downloading:  41%|██████████████████████▍                               | 2391451/5763724 [02:38<03:50, 14602.62rows/s]
Downloading:  43%|███████████████████████▎                              | 2492622/5763724 [02:45<03:40, 14804.25rows/s]
Downloading:  45%|████████████████████████▍                             | 2605447/5763724 [02:52<03:29, 15107.62rows/s]
Downloading:  47%|█████████████████████████▍                            | 2711162/5763724 [02:59<03:24, 14924.32rows/s]
Downloading:  49%|██████████████████████████▎                           | 2812422/5763724 [03:06<03:22, 14555.07rows/s]
Downloading:  51%|███████████████████████████▎                          | 2911300/5763724 [03:14<03:20, 14220.44rows/s]
Downloading:  52%|████████████████████████████▏                         | 3007572/5763724 [03:20<03:07, 14695.12rows/s]
Downloading:  54%|█████████████████████████████                         | 3102955/5763724 [03:27<03:05, 14313.48rows/s]
Downloading:  56%|█████████████████████████████▉                        | 3199274/5763724 [03:33<02:58, 14394.42rows/s]
Downloading:  57%|██████████████████████████████▉                       | 3296451/5763724 [03:40<02:49, 14575.14rows/s]
Downloading:  59%|███████████████████████████████▊                      | 3392102/5763724 [03:46<02:41, 14704.89rows/s]
Downloading:  61%|████████████████████████████████▋                     | 3487464/5763724 [03:52<02:32, 14897.74rows/s]
Downloading:  62%|█████████████████████████████████▌                    | 3583694/5763724 [04:00<02:34, 14080.68rows/s]
Downloading:  64%|██████████████████████████████████▍                   | 3677568/5763724 [04:07<02:30, 13880.56rows/s]
Downloading:  65%|███████████████████████████████████▎                  | 3770047/5763724 [04:14<02:25, 13680.90rows/s]
Downloading:  67%|████████████████████████████████████▏                 | 3860600/5763724 [04:20<02:12, 14312.11rows/s]
Downloading:  69%|█████████████████████████████████████                 | 3949895/5763724 [04:26<02:07, 14273.43rows/s]
Downloading:  70%|█████████████████████████████████████▊                | 4041516/5763724 [04:33<02:02, 14108.10rows/s]
Downloading:  72%|██████████████████████████████████████▋               | 4132108/5763724 [04:39<01:53, 14420.90rows/s]
Downloading:  73%|███████████████████████████████████████▌              | 4220937/5763724 [04:45<01:48, 14206.49rows/s]
Downloading:  75%|████████████████████████████████████████▎             | 4307918/5763724 [04:51<01:40, 14557.68rows/s]
Downloading:  76%|█████████████████████████████████████████▏            | 4394022/5763724 [04:57<01:36, 14156.47rows/s]
Downloading:  78%|█████████████████████████████████████████▉            | 4481026/5763724 [05:04<01:32, 13834.62rows/s]
Downloading:  79%|██████████████████████████████████████████▊           | 4567694/5763724 [05:10<01:24, 14086.74rows/s]
Downloading:  81%|███████████████████████████████████████████▌          | 4651109/5763724 [05:15<01:17, 14317.28rows/s]
Downloading:  82%|████████████████████████████████████████████▎         | 4734164/5763724 [05:21<01:12, 14143.78rows/s]
Downloading:  84%|█████████████████████████████████████████████         | 4815453/5763724 [05:27<01:06, 14322.65rows/s]
Downloading:  85%|█████████████████████████████████████████████▉        | 4896721/5763724 [05:33<01:00, 14228.24rows/s]
Downloading:  86%|██████████████████████████████████████████████▋       | 4978759/5763724 [05:39<00:56, 13951.22rows/s]
Downloading:  88%|███████████████████████████████████████████████▍      | 5060021/5763724 [05:45<00:50, 13993.84rows/s]
Downloading:  89%|████████████████████████████████████████████████▏     | 5138940/5763724 [05:51<00:45, 13595.34rows/s]
Downloading:  91%|████████████████████████████████████████████████▉     | 5217865/5763724 [05:57<00:40, 13585.20rows/s]
Downloading:  92%|█████████████████████████████████████████████████▌    | 5294728/5763724 [06:02<00:33, 13900.21rows/s]
Downloading:  93%|██████████████████████████████████████████████████▎   | 5370747/5763724 [06:08<00:28, 13609.30rows/s]
Downloading:  94%|███████████████████████████████████████████████████   | 5444579/5763724 [06:13<00:23, 13581.64rows/s]
Downloading:  96%|███████████████████████████████████████████████████▋  | 5516695/5763724 [06:18<00:17, 14091.08rows/s]
Downloading:  97%|████████████████████████████████████████████████████▎ | 5588191/5763724 [06:23<00:12, 13662.98rows/s]
Downloading:  98%|█████████████████████████████████████████████████████ | 5659385/5763724 [06:29<00:07, 13335.51rows/s]
Downloading:  99%|█████████████████████████████████████████████████████▌| 5719690/5763724 [06:34<00:03, 13308.98rows/s]
Downloading: 100%|██████████████████████████████████████████████████████| 5763724/5763724 [06:38<00:00, 14464.53rows/s]

In [ ]:
despesas_orcamentarias.head(5)

,id_municipio,sigla_uf,ano,populacao,coluna,id_conta,conta,valor
0,1100015,RO,2014,25652,Despesas Empenhadas,3.3.90.49.00.00,Auxílio-Transporte,166832.00
1,1100015,RO,2014,25652,Despesas Liquidadas,3.3.90.49.00.00,Auxílio-Transporte,166832.00
2,1100015,RO,2014,25652,Despesas Pagas,3.3.90.49.00.00,Auxílio-Transporte,166832.00
3,1100031,RO,2014,6424,Despesas Empenhadas,3.3.20.00.00.00,Transferências à União,71701.78
4,1100031,RO,2014,6424,Despesas Empenhadas,3.3.30.81.00.00,Distribuição Constitucional ou Legal de Receitas,235376.73

# Descrição dos dados

- **Despesa Empenhada**: Valor do orçamento público formalmente reservado (pela emissão do empenho) para compromissos assumidos com terceiros.
	
- **Despesa Liquidada**: É a verificação do direito adquirido pelo credor de receber o pagamento. É o segundo estágio da execução da despesa, precedido do empenho e antecedido do pagamento.

In [ ]:
despesas_orcamentarias.to_csv('./Dados/despesas_orcamentarias.csv',sep=';',index=False)

In [ ]:
despesas_orcamentarias.shape

(5763724, 8)

In [ ]:
despesas_orcamentarias["conta"].value_counts().keys()[:50]

Index(['Aplicações Diretas', 'Outros Serviços de Terceiros - Pessoa Jurídica',
       'Despesas Correntes', 'Outras Despesas Correntes',
       'Material de Consumo', 'Despesas de Capital', 'Investimentos',
       'Pessoal e Encargos Sociais',
       'Outros Serviços de Terceiros - Pessoa Física',
       'Total Geral da Despesa', 'Equipamentos e Material Permanente',
       'Obras e Instalações', 'Despesas de Exercícios Anteriores',
       'Obrigações Patronais', 'Vencimentos e Vantagens Fixas - Pessoal Civil',
       'Sentenças Judiciais', 'Obrigações Tributárias e Contributivas',
       'Material, Bem ou Serviço para Distribuição Gratuita',
       'Diárias - Civil', 'Amortização da Dívida',
       'Indenizações e Restituições',
       'Transferências a Consórcios Públicos mediante contrato de rateio',
       'Contribuições Previdenciárias - INSS',
       'Principal da Dívida Contratual Resgatado',
       'Contratação por Tempo Determinado',
       'Transferências a Instituições Privadas sem Fins Lucrativos',
       'Demais Obras e Instalações', 'Serviços de Consultoria',
       'Outros Auxílios Financeiros a Pessoas Físicas',
       'Passagens e Despesas com Locomoção',
       'Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares',
       'Pensões do RPPS e do Militar',
       'Aplicação Direta Decorrente de Operação entre Órgãos, Fundos e Entidades Integrantes dos Orçamentos Fiscal e da Seguridade Social',
       'Outras Obrigações Patronais',
       'Premiações Culturais, Artísticas, Científicas, Desportivas e Outras',
       'Juros e Encargos da Dívida', 'Obras em Andamento',
       'Juros sobre a Dívida por Contrato', 'Contribuições Patronais',
       'Outras Despesas Variáveis - Pessoal Civil',
       'Indenizações e Restituições Trabalhistas', 'FGTS', 'A Classificar',
       'Contribuições',
       'Contribuição Patronal para o RPPS - Intraorçamentária',
       'Auxílio-Alimentação', 'Aquisição de Imóveis',
       'Transferências a Estados e ao Distrito Federal', 'Total Despesa',
       'Outras Obrigações Patronais - Intraorçamentária'],
      dtype='object')

In [ ]:
despesas_orcamentarias["coluna"].value_counts()

Despesas Empenhadas                            1517018
Despesas Liquidadas                            1514346
Despesas Pagas                                 1510567
Inscrição de RP Processados                     407857
Inscrição de Restos a Pagar Processados         329771
Inscrição de RP Não Processados                 267706
Inscrição de Restos a Pagar Não Processados     216459
Name: coluna, dtype: int64